<div>
    <ul class="cat-nav list-unstyled d-flex justify-content-center">
    
        <li class="active"><a class="p-2 d-inline-block" href="">Kategoriya</a></li>
        <li class=""><a class="p-2 d-inline-block" href="">Kategoriya</a></li>
        <li class=""><a class="p-2 d-inline-block" href="">Kategoriya</a></li>
        <li class=""><a class="p-2 d-inline-block" href="">Kategoriya</a></li>
        <li class=""><a class="p-2 d-inline-block" href="">Kategoriya</a></li>
        <li class=""><a class="p-2 d-inline-block" href="">Kategoriya</a></li>
        <li class=""><a class="p-2 d-inline-block" href="">Kategoriya</a></li>
        <li class=""><a class="p-2 d-inline-block" href="">Kategoriya</a></li>
               
    </ul>
</div>